@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/RobotoCondensed-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900; /* enables the full variable font range */
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/RobotoCondensed-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-robot: "Roboto", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-robot);
}